<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Layout</title>

    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css"
          rel="stylesheet"/>

</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}" href="/">Random blog</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li sec:authorize="hasAuthority('EDITOR')"><a th:href="@{/deleted}" href="component/posts.html">Deleted posts</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Log in</a></li>
                    <li sec:authorize="isAnonymous()"><a th:href="@{/register}">Register</a></li>
                    <li sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-link navbar-btn">Log out</button>
                        </form>
                    </li>
                </ul>
                <p class="navbar-text pull-right" sec:authorize="isAuthenticated()">
                    Welcome, <span sec:authentication="principal.name"> </span>
                </p>
            </div>
        </div>
    </nav>
    <h1 layout:fragment="header">Layout</h1>
    <div layout:fragment="content">Some content</div>
</div>
</body>
</html>
